{% extends 'base.html.twig' %}

{% block title %}Iva index{% endblock %}

{% block body %}
    <h1>Iva index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Porcentaje</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for iva in ivas %}
            <tr>
                <td>{{ iva.id }}</td>
                <td>{{ iva.nombre }}</td>
                <td>{{ iva.porcentaje }}</td>
                <td>
                    <a href="{{ path('app_iva_show', {'id': iva.id}) }}">show</a>
                    <a href="{{ path('app_iva_edit', {'id': iva.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_iva_new') }}">Create new</a>
{% endblock %}
