{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    <h1>Cliente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nif</th>
                <th>Nombre_fiscal</th>
                <th>Nombre_comercial</th>
                <th>Domicilio</th>
                <th>Codigo_postal</th>
                <th>Provincia</th>
                <th>Poblacion</th>
                <th>Pais</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nif }}</td>
                <td>{{ cliente.nombreFiscal }}</td>
                <td>{{ cliente.nombreComercial }}</td>
                <td>{{ cliente.domicilio }}</td>
                <td>{{ cliente.codigoPostal }}</td>
                <td>{{ cliente.provincia }}</td>
                <td>{{ cliente.poblacion }}</td>
                <td>{{ cliente.pais }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="{{ path('app_cliente_show', {'id': cliente.id}) }}">show</a>
                    <a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cliente_new') }}">Create new</a>
{% endblock %}
